h1{
    background-color: black;
    color: yellow;
    border: 2px dotted black;
    border-radius: 20%;
    padding-left: 30%;
}
label{
    color: red;
}
.h2classselector{
    color:aqua
}
.positionInCss{
    position: relative;
    background-color: azure;
}
.p login page{
    justify-content:space-around;

}